<!DOCTYPE html>
<html>
	<head>
		<title>Supportview</title>
		<%= csrf_meta_tags %>
		<%= stylesheet_link_tag    'application', media: 'all' %>
		<%= javascript_include_tag 'application' %>
	</head>
	<body>
		
		<%= render partial: 'layouts/nav' %>
		
		<main class="container-fluid" style="margin-top:50px;">
			<!-- Flash: Notice -->
			<% if notice.present? %>
				<aside class="alert alert-info">
					<%= notice %>
				</aside>
			<% end %>

			<!-- Flash: Alert -->
			<% if alert.present? %>
				<aside class="alert alert-danger">
					<%= alert %>
				</aside>
			<% end %>
		
			<%= yield %>
		</main>

		<%= render partial: 'layouts/footer' %>
	</body>
</html>
